{
  "extends": "eslint:recommended",
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "rules": {
    "semi": [2, "always"],
    "no-multiple-empty-lines": [2, {"max": 1}],
    "quotes": [2, "double", "avoid-escape"],
    "space-after-keywords": 2,
    "space-in-parens": [2, "never"]
  }
}
